gdown==5.2.0
geopandas==1.0.1
imbalanced-learn==0.13.0
joblib==1.5.0
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
numpy==2.0.2
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.28.1
pandas-stubs==2.2.2.240909
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
sklearn-pandas==2.2.0
